.posts {   
    border-radius: 0.5%;
    width: 73%;
    
    height: 100%;
    
}
.loader {
    min-height: 1000px;
    
    display: flex;
    align-items: center;
    justify-content: center;
      
}

@media only screen and (max-width: 768px) {
    .posts{
      
      width: 95%;
      margin: 0;
    }
    
  }