.search-bar {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: start;
}
.search {
  margin-left: 1%;
  background: none;
  border: none;
  cursor: pointer;
}
.search-bar i {
  
  font-size: 150%;
}
.search-bar input {
  padding: 0.5% 1%;
  height: 35%;
  width: 40%;
  border: 0;
  border-radius: 4%;
  background-color: #F3F3F3;
}

@media only screen and (max-width: 768px) {
  .search-bar{
    width: 100%;
    justify-content: center;
  }

  .search-bar input {
    padding: 2% 5%;
    height: 40%;
    width: 40%;
    border: 0;
    border-radius: 4%;
    background-color: #F3F3F3;
  }
  

  
  
  
  
}
